:global(.cropper-wrap-box),
:global(.cropper-crop-box),
:global(.cropper-view-box),
:global(.cropper-canvas) {
    direction: ltr !important;
}

:global(.accordion-button::after) {
    margin-left: 0 !important;
    margin-right: auto;
}

:global(.accordion-button:not(.collapsed)::after) {
    background-image: var(--bs-accordion-btn-icon) !important;
}

:global(.cropper-point) {
    width: 6px !important;
    height: 6px !important;
    background-color: var(--color-link) !important;
}

:global(.accordion-button) {
    background-color: transparent !important;
    box-shadow: none !important;
    height: 60px !important;
    color: inherit !important;
}

.scrollBar button {
    width: 35px;
    height: 35px;
    transition: opacity .1s ease;
}

.scrollBar button:hover {
    opacity: .8 !important;
}

.scrollBar>div::-webkit-scrollbar {
    height: 3px;
    background-color: var(--color-neutral);
}

.scrollBar>div::-webkit-scrollbar-button {
    width: 3px;
    background-color: var(--color-accent);
}

.scrollBar>div::-webkit-scrollbar-thumb {
    background-color: var(--color-accent);
}

.boxCropper>div:first-child {
    flex: 1 1 100%;
}

.boxCropper>div:last-child {
    flex: 0 1 auto !important;
}

@media (min-width: 576px) {
    .boxCropper>div:last-child button:last-child {
        width: auto !important;
    }
}

@media (min-width: 768px) {
    .boxCropper div:first-child {
        flex: 1 1 calc(100% - 50px);
    }

    .boxCropper div:last-child {
        flex: 0 0 50px !important;
    }
}