.container {
    height: calc(100dvh - 70px - 60px);
}

.container>div {
    max-width: 500px;
}

.container>div::after {
    content: '500';
    position: absolute;
    top: 60%;
    left: 50%;
    z-index: 0;
    color: rgba(255, 255, 255, 0.1);
    font-size: 200px;
    font-weight: bolder;
    transform: translate(-50%, -50%);
}