.form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.form h3 {
    width: 100%;
}

/* .form>div {
    flex: 1 1 200px;
    height: 100%;
    align-self: stretch;
} */

.form input,
.form select,
.form textarea {
    width: 100%;
    height: 45px;
    border: 1px solid #aaa;
    outline: none;
    padding: 10px;
    border-radius: 10px 5px;
    background-color: transparent;
}

.form textarea {
    resize: none;
}

.form label {
    display: block;
}

.form button {
    width: 100%;
    background-color: #53002b;
    color: #fff;
    padding: 10px 30px;
    border-radius: 10px 5px;
    margin-top: 20px;
    cursor: pointer;
}