.form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.form h3 {
    width: 100%;
}

.form div {
    flex-grow: 1;
    align-self: stretch;
}

.form input {
    width: 100%;
    border: 1px solid #aaa;
    outline: none;
    padding: 10px;
    border-radius: 10px 5px;
    background-color: transparent;
}

.form label{
    display: block;
}

.form button {
    width: 100%;
    background-color: #53002b;
    color: #fff;
    padding: 10px 30px;
    border-radius: 10px 5px;
    margin-top: 20px;
    cursor: pointer;
}
