/* .container {
    padding: 20px;
}

.container ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style-type: none;
}

.container ul li {
    padding: 20px;
    flex: 1 1 200px;
    box-shadow: 0 0 10px 1px #ccc;
}

.container ul li a {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.container ul li a>div {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    min-width: 100px;
}

.container ul li a>div>p {
    margin-bottom: auto;
    font-weight: bold;
}

.container img {
    width: 150px;
    margin-right: auto;
    border-radius: 10px;
} */

/* .cardImage {
    aspect-ratio: 3 / 2;
} */