.list {
    padding: 20px;
}

.list ul li {
    /* height: 150px; */
    margin: 20px 0;
    padding: 10px;
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 5px 20px;
    box-shadow: 0 0 10px 1px #ccc;
    position: relative;
}

.list ul li img {
    height: 100px;
    border-radius: 10px;
}

.title {
    margin-left: auto;
    margin-top: 10px;
}

.title p:last-of-type {
    color: #606060;
    font-weight: 200;
}

.price {
    width: 100%;
    margin-top: 10px;
    text-align: right;
    font-weight: 200;
}

.list li button {
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 3px 10px;
    border: 1px solid #ccc;
    border-radius: 10px 5px;
    cursor: pointer;
    transition: all .2s;
    color: #606060;
    font-weight: 200;
}

.list li button:hover {
    background-color: #53002b;
    color: #fff;
}