.sidebar{
    min-width: 200px;
    padding: 20px;
}

.sidebar h3{
    margin-bottom: 10px;
}

.sidebar ul li{
    list-style-type: none;
    margin: 10px 0;
}

.sidebar ul p{
    font-weight: 200;
}

.sidebar li.active{
    background-color: #ccc;
}