.container::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 35%;
    height: 55%;
    background-color: var(--color-disabled);
    z-index: -1;
    opacity: 0.2;
    border-radius: 1rem 0 0 0;
}

.container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 35%;
    height: 55%;
    background-color: var(--color-disabled);
    z-index: -1;
    opacity: 0.2;
    border-radius: 0 0 1rem 0;
}

.container form {
    width: 100%;
    max-width: 650px;
    background-color: rgba(250, 250, 250, 0.501);
    box-shadow: 0 0 5px 1px #fafafa;
}

.container form::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    height: 35%;
    background-color: var(--color-disabled);
    z-index: -1;
    opacity: 0.2;
    border-radius: 0 0 0 1rem;
}

.container form::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60%;
    height: 35%;
    background-color: var(--color-disabled);
    z-index: -1;
    opacity: 0.2;
    border-radius: 0 1rem 0 0;
}