.header {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    border-bottom: 2px solid #ccc;
}

.header div:first-child {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
}

.header div:first-child a img {
    width: 40px;
    height: 40px;
}

.header div:first-child span {
    vertical-align: top;
    color: #616161;
}

.header div:last-child {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.admin {
    border: 1px solid #53002b;
    padding: 10px 20px;
    border-radius: 10px;
    flex-grow: 1;
    text-align: center;
}

.signOut {
    border: none;
    background-color: transparent;
    cursor: pointer;
    flex-grow: 1;
}

.auth span,
.signOut span {
    vertical-align: top;
    margin-right: 10px;
}

.dashboard {
    padding: 10px 20px;
    background-color: #53002b;
    color: #fff;
    border-radius: 10px;
    flex-grow: 1;
    text-align: center;
}