.header {
    height: 70px;
    z-index: 100;
}

.headerLogo {
    width: 70px !important;
}

@media (min-width: 768px) {
    .headerLogo {
        width: 90px !important;
    }
}

@media (min-width: 1200px) {
    .header{
        z-index: 1050;
    }
}